
.pos-fix{
	position:fixed !important;
}
.dummy-section{	
	height: 17vw;
}
.subcatbtn{
	width:10vw;
}
.subsubcatbtn{
	width: 90%;
    border-radius: 0.6vw;
    overflow: hidden; 
    text-overflow: ellipsis;
}
.activeSubCatbtn{
	background-color: white;
    color: #dc3d46;
}
.activeSubCatbtn1{
	background-color: #dc3d46;
    color: white;
}
.mr-12{
	margin-right: 12px !important;
}

@media only screen and (max-width: 500px) {
.subsubcatbtn{
	width: 90%;
    border-radius: 2.6vw;
    overflow: hidden; 
    text-overflow: ellipsis;
}
.dummy-section{	
	height: 27vw;
}
.subcatbtn {
    width: 23vw !important;
}
.w-75{
	width: 95%!important;
} }
@media only screen and (min-width: 990px) {
.dummy-section{	
	height: 12vw;
} }
@media only screen and (min-width: 1050px) {
.dummy-section{	
	height: 21vw;
} }
@media only screen and (min-width: 1200px) {
.dummy-section{	
	height: 19vw;
} }
@media only screen and (min-width: 1300px) {
.dummy-section{	
	height: 18vw;
} }
@media only screen and (min-width: 1450px) {
.dummy-section{	
	height: 17vw;
} }
@media only screen and (min-width: 1450px) {
.dummy-section{	
	height: 15vw;
} }
@media only screen and (min-width: 1600px) {
.dummy-section{	
	height: 14vw;
} }
@media only screen and (min-width: 1750px) {
.dummy-section{	
	height: 13vw;
} }
@media only screen and (min-width: 1900px) {
.dummy-section{	
	height: 12vw;
} }
@media only screen and (min-width: 2050px) {
.dummy-section{	
	height: 11vw;
} }
@media only screen and (min-width: 2200px) {
.dummy-section{	
	height: 10vw;
} }

